<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar">
               <img class="imglog" src="assets/login.png">
            </div>
            <div class="form-box">
                <form action="" method="" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                    <input  type="text" placeholder="username" formControlName="usuario">
                    <input type="password" placeholder="password" formControlName="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
            </div>
        </div>
        
</div>

